.container {
  position: absolute;
  z-index: 1;
  right: 7px;
  bottom: 7px;
  height: 300px;
  width: 400px;
  background-color: var(--color-shade-6);
}

.close {
  position: absolute;
  top: -1rem;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-shade-6);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.1rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}

.ads {
  position: absolute;
  inset: 0;
  height: 300px;
  width: 400px;
  z-index: 1;
}
