.container {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 300px;
  width: 400px;
}

.ads {
  position: absolute;
  inset: 0;
  height: 300px;
  width: 400px;
  z-index: 1;
}
